{{page-title "Index"}}

<LinkTo @route="addFilm" class="add-link">
<i class="fa fa-plus"></i>
</LinkTo>

<main class="container mt-5">
    <LinkTo @route="film" @model="1">Movie 1</LinkTo>
    <LinkTo @route="film" @model="2">Movie 2</LinkTo>    
</main>
{{outlet}}