{{page-title "Movie Rating App"}}

<LinkTo @route="addFilm" class="add-link">
<i class="fa fa-plus"></i>
</LinkTo>

<div>
<section>
{{#each model as |film|}}
<div>
  <div>{{film.title}}</div>
  <div>{{film.body}}</div>
</div>
{{/each}}
</section>
</div>


<GeneralContainer>
    <Film /> 
    <Film /> 
</GeneralContainer>
{{outlet}}